:root {
  --animation-duration: 1s;
}

@keyframes maskMove {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(100vw);
  }
}

@keyframes maskInnerMove {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-100vw);
  }
}

.focus {
  color: white;
  position: relative;
  width: 100%;
  height: 85vh;
}

.focus:before {
  filter: blur(20px);
  background-image: url('../../assets/images/car.png');
  background-size: cover;
  display: inline-block;
  width: 100vw;
  height: 85vh;
  content: "";
}

.focus:after {
  content: '';
  position: absolute;
  width: 30px;
  height: 100%;
  top: -4px;
  left: 0;
  border-top: 2px solid;
  border-bottom: 2px solid;
  animation: maskMove var(--animation-duration) linear infinite alternate;
}

.focusMask {
  overflow: hidden;
  position: absolute;
  width: 20px;
  height: 85vh;
  top: 0;
  left: 0;
  animation: maskMove var(--animation-duration) linear infinite alternate;
}

.focusMaskInner {
  animation: maskInnerMove var(--animation-duration) linear infinite alternate;
}

.focusMaskInner img {
  width: 100vw;
  height: auto;
}